$black: #111111;
$pink: #D3A6C2;
$white: #FFFFFF;
$font: Michroma;

body {
  background-color: black;
}

nav,
footer,
header,
main {
  display: block;
}

.container_big {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  overflow-x: hidden;
  flex: 1 1 auto;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;

  @media screen and (max-width: 650px) {
    width: 100%;
    display: block;
  }

  @media screen and (max-width: 400px) {
    width: 100%;
    display: block;
  }
}


header {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: block;
  font-family: Michroma;
  font-size: 24;

  &__container {
    padding-bottom: 50px;
  }

  &__menu {
    display: flex;
    align-items: center;
  }
}