@import 'main-models';

.container_footer{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    flex-direction: row;
    width: 1200px;
    width: 100%;
    padding: 20px;
    margin-top: 50px;
    min-height: 173px;
    height: 100%; 
    @media screen and (max-width: 800px) {
        justify-content: center;
        flex-direction: column;
        margin: auto;
        max-width: 600px;
        gap: 25px;
        font-size: 18px;
        line-height: 30px;
         } 
}
.footer{
&__list{
display: flex;
flex-direction: column; 
flex: 1 1 1%;
list-style: none;
margin-top: 30px;
min-width: 580px;
width: 100%;
}
&__item{
    padding: 10px;

}
&__link{
    font-family: 'Metrophobic';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 55px;
    letter-spacing: 0.05em;
    text-decoration: none;
    @media screen and (max-width: 400px) {
        display: flex;
        flex: auto;
        margin: auto;
        font-size: 20px;
        line-height: 12px;
         } 
    @media screen and (max-width: 650px) {
        display: flex;
        flex: auto;
        margin: auto;
         } 
    @media screen and (max-width: 800px) {
        display: flex;
        flex: auto;
        margin: auto;
         } 
&:link{
        text-decoration: none;
        color: $white;
        }
     &:hover{
        text-decoration: none;
        color:$pink ;
     }
    &:visited{
        text-decoration: none;
        color:$white ;
     }
    &:active{
        text-decoration: none;
        color:$pink;
     }
    }
}


.container_footer{
&_signup{
    display: flex;
    flex-direction: column;
    flex: 1 1 60%;
    width: 100%;
    &-text{
    font-family: 'Metrophobic';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 35px;
    color: #D3A6C2;
    @media screen and (max-width: 400px) {
        font-size: 30px;
         } 
    @media screen and (max-width: 650px) {
       font-size: 34px;
         }  
    }
}
&-but{
    display: flex;
}
&-searchbar{
    background-color: #FFFFFF;
    max-width: 440px;
    width: 100%;
    min-height: 44px;
    height: 100%;
    display: flex;
    @media screen and (max-width: 400px) {
        max-width: 350px;
         } 
    @media screen and (max-width: 650px) {
        max-width: 350px;
         }  
}
}

.button-footer{
margin-top: 10px;
max-width: 178px;
min-height: 50px;
width: 100%;
background: #D3A6C2;
border-radius: 45px;
border: none;
font-family: 'Metrophobic';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 40px;
color: #FFFFFF;
text-align: center;
text-decoration: none;
display: table-cell;
vertical-align: middle;
&:link{
    text-decoration: none;
    color: $white;
    }
 &:hover{
    text-decoration: none;
    background-color: #d3a6c2b6;
    transition-duration: 0.3s;
    transition-delay: 0.2s;
    color:$white ;
 }
&:visited{
    text-decoration: none;
    color:$white ;
 }
&:active{
    text-decoration: none;
    color:$white;
 }
}
