* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #111111;
  overflow-x: hidden;
}

.main_gallery_container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  min-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  font-family: Michroma;
}
header__container {
  display: flex;
  width: 100%;
  min-width: 1200px;
}
header__menu {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  padding-left: 3rem;
}
.menu_navigation {
  min-width: 1200px;
  display: flex;
  align-items: flex-end;
}
.menu__logo {
  flex: 1 1 auto;
  width: 70px;
  height: 19.3px;
}
.menu__body {
  margin-right: 30px;
}
.menu__list {
  display: flex;
  column-gap: 25px;
  list-style: none;
}
.menu__link {
  font-size: 24;
  font-style: bold;
  color: #FFFFFF;
  text-decoration: none;
}
.menu__link:hover {
  color: #D3A6C2;
}

.logo_link {
  font-size: 25px;
  margin-top: 5px;
}

.logo:link {
  text-decoration: none;
  color: #FFFFFF;
}

.logo:hover {
  text-decoration: none;
  color: #D3A6C2;
}

.logo:visited {
  text-decoration: none;
  color: #FFFFFF;
}

.logo:active {
  text-decoration: none;
  color: #D3A6C2;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #111111;
  overflow-x: hidden;
}

.main_gallery_container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-width: 1200px;
  margin-top: 50px;
  min-height: 173px;
  height: 100%;
}
.footer__list {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.footer__item {
  padding: 10px;
}
.footer__link {
  font-family: "Metrophobic";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 55px;
  letter-spacing: 0.05em;
  text-decoration: none;
}
.footer__link:link {
  text-decoration: none;
  color: #FFFFFF;
}
.footer__link:hover {
  text-decoration: none;
  color: #D3A6C2;
}
.footer__link:visited {
  text-decoration: none;
  color: #FFFFFF;
}
.footer__link:active {
  text-decoration: none;
  color: #D3A6C2;
}

.container_footer_signup {
  display: flex;
  min-width: 1200px;
  width: 100%;
  justify-content: end;
}
.container_footer_signup-text {
  font-family: "Metrophobic";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 35px;
  color: #D3A6C2;
}

.button {
  background: #D3A6C2;
  border-radius: 45px;
  font-family: "Metrophobic";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #111111;
  overflow-x: hidden;
}

.main_gallery_container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}