$black: #111111;
$pink: #D3A6C2;
$white: #FFFFFF;
$font: Michroma;

* {
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: $black;
    overflow-x: hidden;   
}

.main_gallery_container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;    
}

.panel {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    float: left;
    width: 45%;
    margin-top: 50px;
    margin-left: 50px;
    padding-right: 50px;
    h3 {
        color: $white;
        text-shadow: 5px 4px 4px rgba(211, 166, 194, 0.56);
        font-family: $font;
        font-size: 34px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px; /* 108.333% */
        padding-left: 5rem;
        margin-bottom: 3rem;
        
    }
    h4 {
        color: $pink;
        font-family: $font;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px; /* 171.875% */
        letter-spacing: 2.24px;
        padding-left: 5rem;
        margin-bottom: 3rem;
    }
    p {
        color: $white;
        font-family: 'Metrophobic';
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 50px; /* 171.875% */
        padding-left: 5rem;
    }
}
.panel_image {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.panel_text {
    margin-top: 2.5rem;
    width: 100%; 
}
.main-title {
    color: $pink;
    text-shadow: 6px 3px 4px #988080;
    font-family: Michroma;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 55px; /* 85.938% */
}
.gallery_grid {
    column-count: 3;
    column-gap: 20px;
    width: 100%;
    & img {
        display: inline-block;    
    }  
} 
figcaption {
    display: inline-block;
    color: $white;
    text-align: center;
    font-family: Michroma;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 171.875% */
    margin-left: 5rem; 
    a {
        text-decoration: none;
        color:$white; 
    }   
}

.babyshower {
    padding-bottom: 3rem;   
}

.button_main{
    justify-content: center;
    border: none;
    min-width: 195px;
    min-height: 55px;
    background-color: $pink;
    font-family: $font;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 55px;
    letter-spacing: 0.05em;
    color: $black;
    margin-top: 3rem;
}